@charset "UTF-8";

// Flex Auto Flow
//
// Mixins for the Class-Based Grids
//
// Style guide: Mixins.Flex.flex-auto
//
@mixin flex-flow-n($items: 1, $gutters: $grid-gutters) {

  @each $key, $gutter in $gutters {
    $margin: ($gutter / 2) * -1;

    @include grid-media($key) {
      @include margin($margin);

      > * {
        flex: 1 1 calc(#{percentage(flex-column-ratio(1, $items))} - #{$gutter});
        width: calc(#{percentage(flex-column-ratio(1, $items))} - #{$gutter});
        @include margin($gutter / 2);
      }
    }
  }

}
